In [1]:
import pandas as pd
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
data = pd.read_csv('Kirk_Break_Data.csv')
# data.head()
data

,Date,Location,Zone,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,SLOPE,Comment,Break_Year,Unnamed: 13
0,1/8,347 7th Ave,315,NaN,NaN,6,CI,NaN,NaN,NaN,NaN,NaN,2004,NaN
1,1/9,696 16th Ave W,315,DIST,NaN,8,AC,NaN,AmC,15000.0,NaN,NaN,2004,NaN
2,1/21,740 16th Ave W,315,DIST,NaN,6,AC,NaN,AmC,15000.0,NaN,NaN,2004,NaN
3,2/25,10132 NE 59th,285,DIST,261.0,8,AC,1976,KpB,7000.0,2.586207,Leak,2004,NaN
4,3/16,18th Ave & 6th St.,450,DIST,NaN,12,AC,1968,AgC,12000.0,NaN,Leak,2004,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,10/31/17,10830 NE 68th St,450,NaN,NaN,8,AC,NaN,NaN,NaN,NaN,Full Break,2017,NaN
64,5/23/18,11828 NE 75th St,650,DIST,NaN,6,AC,NaN,AgC,NaN,NaN,Bead Break,2018,NaN
65,5/30/19,11828 NE 75th St,650,NaN,NaN,6,AC,NaN,NaN,NaN,NaN,Break at abandoned service tap,2019,NaN
66,6/3/19,10425 NE 58th St,450,NaN,NaN,6,AC,NaN,NaN,NaN,NaN,Full Break,2019,NaN
67,10/2/19,6109 106th Ave NE,450,NaN,NaN,6,AC,NaN,NaN,NaN,NaN,Full Break,2019,NaN