In [6]:
# Alright lets see what this is all about
import numpy
import pandas as pd
import sklearn
print('it worked?')

it worked?

In [17]:
df = pd.read_csv('Kirk_Stuff.csv')
df

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,SLP_CLASS
0,1,FIRE,2.0,8.0,UNK,NaN,Ur,6000,2.0
1,2,FIRE,2.0,2.0,UNK,1/1/1992 0:00:00,AgC,7000,1.0
2,3,FIRE,1.0,0.0,UNK,NaN,AgC,6000,0.0
3,4,FIRE,3.0,6.0,DI,1/1/2005 0:00:00,Ur,4000,0.0
4,5,FIRE,149.0,8.0,AC,1/1/1963 0:00:00,Ur,7000,6.0
...,...,...,...,...,...,...,...,...,...
41816,3963,DIST,1.0,12.0,DI,1/1/1971 0:00:00,No,9000,0.0
41817,5622,DIST,1.0,8.0,DI,1/1/2003 0:00:00,AgC,10000,2.0
41818,5623,DIST,1.0,8.0,DI,1/1/2003 0:00:00,AgC,10000,2.0
41819,1093,DIST,83.0,12.0,DI,1/1/2009 0:00:00,AgC,5000,0.0
41820,6299,DIST,18.0,12.0,DI,NaN,AgC,5000,0.0

In [13]:
# Get statistics about dataset 
num_pipes = df['FID_WA_Mai'].unique()

7650

In [31]:
grouped = df.groupby('FID_WA_Mai')['SLP_CLASS'].mean()
grouped

FID_WA_Mai
1       2.000000
2       1.000000
3       0.000000
4       0.000000
5       3.888889
          ...
7739    0.785714
7740    4.000000
7741    4.000000
7742    3.000000
7743    0.777778
Name: SLP_CLASS, Length: 7650, dtype: float64