In [13]:
import pandas as pd

In [14]:
sea_pipes = pd.read_csv('FinalFinal.csv')
sea_pipes.columns

Index(['OBJECTID', 'Join_Count', 'Join_Count_1', 'Join_Count_12',
       'Join_Count_12_13', 'Join_Count_12_13_14', 'Join_Count_12_13_14_15',
       'Join_Count_12_13_14_15_16', 'Join_Count_12_13_14_15_16_17',
       'Join_Count_12_13_14_15_16_17_18', 'Join_Count_12_13_14_15_16_17_18_19',
       'Join_Count_12_13_14_15_16_17_18_19_20',
       'Join_Count_12_13_14_15_16_17_18_19_20_21',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23', 'MNL_FEA_KE',
       'MNL_FEAT_1', 'MNL_OWNE_1', 'MNL_MATE_1', 'MNL_LENGTH', 'MNL_INSTAL',
       'Width', 'NEAR_DIST', 'NEAR_X', 'NEAR_Y', 'MUSYM', 'muname', 'ARTCLASS',
       'UNITDESC', 'STNAME_ORD', 'BLOCKNBR', 'SPEEDLIMIT', 'SURFACEWID',
       'SURFACETYP', 'SLOPE_PCT', 'WONUM', 'Size', 'Long', 'Lat', 'DATE',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24'],
      dtype='object')

In [15]:
sea_pipes[43:48]

,OBJECTID,Join_Count,Join_Count_1,Join_Count_12,Join_Count_12_13,Join_Count_12_13_14,Join_Count_12_13_14_15,Join_Count_12_13_14_15_16,Join_Count_12_13_14_15_16_17,Join_Count_12_13_14_15_16_17_18,...,SPEEDLIMIT,SURFACEWID,SURFACETYP,SLOPE_PCT,WONUM,Size,Long,Lat,DATE,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24
43,44,3,0,0,0,0,0,0,2,0,...,20,20,AC,2,5119567,6,-122.371084,47.707533,11/18/2014 14:21:55,1
44,45,3,0,0,0,0,0,0,2,0,...,20,20,AC,2,5119567,6,-122.371084,47.707533,11/18/2014 14:21:55,1
45,46,1,0,0,0,0,0,0,0,0,...,20,24,ST,11,NaN,NaN,NaN,NaN,NaN,0
46,47,3,0,0,0,0,0,0,0,0,...,20,25,AC,3,NaN,NaN,NaN,NaN,NaN,0
47,48,1,0,0,0,0,0,0,0,0,...,20,25,AC,13,NaN,NaN,NaN,NaN,NaN,0

In [28]:
non_join_feats = ['MNL_FEA_KE', 'MNL_FEAT_1', 'MNL_MATE_1', 'MNL_LENGTH', 'MNL_INSTAL',
       'Width', 'NEAR_DIST', 'MUSYM', 'ARTCLASS',
       'BLOCKNBR', 'SPEEDLIMIT', 'SURFACEWID',
       'SURFACETYP', 'SLOPE_PCT', 'WONUM', 'Size', 'DATE', 'UNITDESC', 'STNAME_ORD']
df = sea_pipes[non_join_feats]
df

,MNL_FEA_KE,MNL_FEAT_1,MNL_MATE_1,MNL_LENGTH,MNL_INSTAL,Width,NEAR_DIST,MUSYM,ARTCLASS,BLOCKNBR,SPEEDLIMIT,SURFACEWID,SURFACETYP,SLOPE_PCT,WONUM,Size,DATE,UNITDESC,STNAME_ORD
0,2171012,Mainline,Concrete,314.79,1/1/1972 0:00:00,8.0,3891.620149,3055,2,9400,25,40,PCC,0,NaN,NaN,NaN,8TH AVE SW BETWEEN SW CAMBRIDGE ST AND SW ROXB...,8TH AVE SW
1,2178518,Mainline,Concrete,363.39,1/1/1972 0:00:00,8.0,3609.210867,3056,0,0,20,46,AC,4,NaN,NaN,NaN,SW ROXBURY ST BETWEEN DEAD END 1 AND OLSON PL SW,SW ROXBURY ST
2,2163634,Mainline,Concrete,323.51,1/1/1972 0:00:00,8.0,3451.254202,3056,0,0,20,46,AC,4,NaN,NaN,NaN,SW ROXBURY ST BETWEEN DEAD END 1 AND OLSON PL SW,SW ROXBURY ST
3,2201252,Mainline,Vitrified Clay,329.13,1/1/1928 0:00:00,12.0,771.313134,3056,0,5100,20,0,ST,6,NaN,NaN,NaN,S CRESTON ST BETWEEN 51ST AVE S AND 55TH AVE S,S CRESTON ST
4,2171196,Mainline,Reinforced Concrete Pipe,273.64,1/1/1928 0:00:00,18.0,833.921160,3056,2,10300,25,42,AC/PCC,4,NaN,NaN,NaN,51ST AVE S BETWEEN S RUGGLES ST AND S CRESTON ST,51ST AVE S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62189,4895756,Mainline,High Density Polyethylene,193.12,1/1/1989 0:00:00,2.0,1829.526578,3059,0,3400,20,17,AC,9,NaN,NaN,NaN,PERKINS LN W BETWEEN W BERTONA ST AND W RUFFNE...,PERKINS LN W
62190,2211628,Mainline,High Density Polyethylene,193.13,1/1/1989 0:00:00,2.0,1829.519254,3059,0,3400,20,17,AC,9,NaN,NaN,NaN,PERKINS LN W BETWEEN W BERTONA ST AND W RUFFNE...,PERKINS LN W
62191,4895975,Mainline,High Density Polyethylene,193.17,1/1/1989 0:00:00,2.0,1829.487571,3059,0,3400,20,17,AC,9,NaN,NaN,NaN,PERKINS LN W BETWEEN W BERTONA ST AND W RUFFNE...,PERKINS LN W
62192,4895914,Mainline,High Density Polyethylene,193.12,1/1/1989 0:00:00,2.0,1829.530600,3059,0,3400,20,17,AC,9,NaN,NaN,NaN,PERKINS LN W BETWEEN W BERTONA ST AND W RUFFNE...,PERKINS LN W
62193,2211627,Mainline,High Density Polyethylene,193.15,1/1/1989 0:00:00,2.0,1829.495772,3059,0,3400,20,17,AC,9,NaN,NaN,NaN,PERKINS LN W BETWEEN W BERTONA ST AND W RUFFNE...,PERKINS LN W

In [32]:
date_na_indices = df['DATE'].isna()
non_breaks = df[date_na_indices]
breaks = df[~date_na_indices]
breaks_drop = breaks.drop_duplicates()
breaks_drop.head()

,MNL_FEA_KE,MNL_FEAT_1,MNL_MATE_1,MNL_LENGTH,MNL_INSTAL,Width,NEAR_DIST,MUSYM,ARTCLASS,BLOCKNBR,SPEEDLIMIT,SURFACEWID,SURFACETYP,SLOPE_PCT,WONUM,Size,DATE,UNITDESC,STNAME_ORD
43,2157191,Mainline,Concrete,40.54,1/1/1957 0:00:00,8.0,699.766876,3056,0,1100,20,20,AC,2,5119567,6,11/18/2014 14:21:55,NW WOODBINE PL BETWEEN DEAD END AND 12TH AVE NW,NW WOODBINE PL
81,2157660,Mainline,Reinforced Concrete Pipe,25.65,1/1/1973 0:00:00,24.0,2296.768775,3055,0,100,20,38,ST,4,7681317,8,3/24/2017 9:10:26,N 90TH ST BETWEEN 1ST AVE NW AND PALATINE AVE N,N 90TH ST
120,2158146,Mainline,Concrete,182.67,1/1/1964 0:00:00,8.0,221.097406,3056,0,3400,20,25,PCC,12,6018248,4,9/4/2015 7:10:04,NW 68TH ST BETWEEN 34TH AVE NW AND 35TH AVE NW,NW 68TH ST
122,2158146,Mainline,Concrete,182.67,1/1/1964 0:00:00,8.0,221.097406,3057,0,3400,20,25,PCC,12,6018248,4,9/4/2015 7:10:04,NW 68TH ST BETWEEN 34TH AVE NW AND 35TH AVE NW,NW 68TH ST
128,2158250,Mainline,Reinforced Concrete Pipe,6.71,1/1/1962 0:00:00,15.0,2346.786474,3056,0,600,20,0,PCC,0,4119605,8,11/22/2013 17:04:31,NE BANNER PL BETWEEN NE 75TH ST AND 9TH AVE NE,NE BANNER PL

In [20]:
breaks_drop['MNL_INSTAL'] = breaks_drop['MNL_INSTAL'].map(lambda x: int((str(x)[-12:-8])), na_action='ignore')
breaks_drop['DATE'] = breaks_drop['DATE'].map(lambda x: int((str(x)[-12:-8])), na_action='ignore')

NameError: name 'breaks_drop' is not defined

In [7]:
breaks_drop.head()

,MNL_FEA_KE,MNL_FEAT_1,MNL_MATE_1,MNL_LENGTH,MNL_INSTAL,Width,NEAR_DIST,MUSYM,ARTCLASS,BLOCKNBR,SPEEDLIMIT,SURFACEWID,SURFACETYP,SLOPE_PCT,DATE
43,2157191,Mainline,Concrete,40.54,1957,8.0,699.766876,3056,0,1100,20,20,AC,2,14
81,2157660,Mainline,Reinforced Concrete Pipe,25.65,1973,24.0,2296.768775,3055,0,100,20,38,ST,4,2017
120,2158146,Mainline,Concrete,182.67,1964,8.0,221.097406,3056,0,3400,20,25,PCC,12,2015
122,2158146,Mainline,Concrete,182.67,1964,8.0,221.097406,3057,0,3400,20,25,PCC,12,2015
128,2158250,Mainline,Reinforced Concrete Pipe,6.71,1962,15.0,2346.786474,3056,0,600,20,0,PCC,0,13

Pseudocode of CV algorithm

In [ ]:
#